* {
    font-family: 'Sulphur Point', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #777;
}

.navbar {
    position: absolute;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 1;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
    color: #ffffff;
}

#main-container {
    margin-left: auto;
    margin-right: auto;
    /*width: 90%;*/
}

.grid-container {
    display: grid;
    /*overflow: hidden;*/
    /*max-height: 100vh;*/
    width: auto;
    position: relative;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

.grid-container .greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 5vw;
}

.hint-to-scroll-down {
    position: relative;
    text-align: center;
    bottom: 7rem;
    font-size: 2rem;
}
.page-header {
    display: flex;
    position: relative;
    font-size: 2.5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 15%;
    color: black;
}

.card {
    transition: 0.3s;
    border-radius: 10px;
    width: 25%;
    /*height: 100%;*/
}
.cards-main-container {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    /*height: 100%;*/
}

.card-header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #111111;
    font-size: 2vw;
}

img {
    width: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    /*padding: 2px 16px;*/
    text-align: center;
    position: relative;
    display: table;
}

.desc {
    /*position: relative;*/
    /*height: 50vh;*/
    display: table-row;
}

.desc p {
    word-break: break-word;

}

.arrow {
    position: relative;
    bottom: 3.5rem;
    left: 50%;
    margin-left:-20px;
    width: 3vw;
    height: 5vw;
    background-image: url("../images/arrow.png");
    background-size: contain;
    /*background-repeat: no-repeat;*/
    justify-content: center;
}

.bounce {
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-40px);
    }
    60% {
        transform: translateY(-15px);
    }
}
