* {
    font-family: 'Sulphur Point', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    box-sizing: border-box;
    /*color: #777;*/
}

body {
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    z-index: 1;
    margin: 0
}

.active {
    border-bottom: 1px solid black;
}
.navbar li {
    font-size: 1.5vw;
}

.navbar li a {
    display: block;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
    color: #ffffff;
    box-shadow: 1px 1px 1px 0  rgba(0,0,0,0.3);
    transition: 0.5s;
}

#main-container {
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    position: relative;
    grid-template-rows: 1fr;
    width: 100vw;
    min-height: 100vh;
    align-items: start;
}

.greeting {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 8vh;
    top: 40%;
}

.hint-to-scroll-down {
    position: relative;
    text-align: center;
    bottom: 7rem;
    font-size: 4vh;
}
.page-header {
    display: flex;
    position: relative;
    font-size: 8vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 15%;
    color: black;
}

.grid-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.grid-cards-container > article {
    border-radius: 10px;
}

article:hover {
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
}

.grid-cards-container > article img {
    max-width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    image-rendering: auto;
}

.filtered {
    /*filter: grayscale(100%) invert(1);*/
    /*background-color: #111111;*/
    filter: opacity(1) drop-shadow(0 0 0 black) grayscale(100%);
}

.text {
    padding: 0 20px 20px;
    align-items: stretch;
}

h2 {
    color: #111111;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer {
    display: grid;
    position: relative;
    margin-top: 5px;
}

.socials {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    padding: 0 5px 0 5px;
}

.socials > a .small-logos {
    height: 5vh;
    padding: 0 5px 0 5px;
}

.arrow {
    position: relative;
    bottom: 3.5rem;
    left: 50%;
    margin-left:-20px;
    width: 3vw;
    height: 5vw;
    background-image: url("../images/arrow.png");
    background-size: contain;
    justify-content: center;
}

.bounce {
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-40px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@media screen and (max-width: 768px) {

    .arrow {
        margin-left: -10px;
        width: 20px;
        height: 30px;
    }

    .grid-cards-container {
        width: 90%;
    }
    body {
        overflow-x: hidden;
    }
    .navbar {
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        justify-content: center;
    }
    .navbar li {
        font-size: 18px;
    }

    .greeting {
        font-size: 5.5vh;
    }

    .hint-to-scroll-down {
        font-size: 3vh;
    }

    .page-header {
        font-size: 6vh;
    }
}
